html, body{
  width: 100%;
  height: 100%;
}
html, body{
  margin: 0;
  padding: 0;
}
.clip-wrap{
  width: fit-content;
  padding: 16px;
  padding-top: 0;
  border: 1px solid #d9d9d9;
  img{
    margin: 16px auto;
    display: block;
  }
  .clip-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    align-items: center;
    color: #333;
    font-size: 14px;
    .show-part{
      input{
        transition: all .6s;
        width: 80px;
        height: 20px;
        margin-right: 8px;
        outline: none;
        text-indent: 3px;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        &:focus{
          box-shadow: 0 0 2px #36f;
          border: 1px solid #36f;
        }
        &:hover{
          border: 1px solid #36f;
        }
      }
      input[type="range"] {
        outline: none;
        border: 0;
        vertical-align: middle;
        &:focus, &:hover{
          box-shadow: unset;
          border: 0;
        }
      }
    }
    .btn{
      padding: 0 15px;
      line-height: 30px;
      background-color: #36f;
      color: #fff;
      font-size: 14px;
      border-radius: 3px;
      cursor: pointer;
      display: table-cell;
    }
  }
}
.clip{
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: #000;
  overflow: hidden;
  canvas{
    display: block;
  }
  .mask-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .clip-mask{
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: move;
    border: dashed 1px #999;
    
    .mask-point{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #999;
      display: block;
      position: absolute;
      z-index: 10;
      &:nth-child(1) {
        top: -5px;
        left: -5px;
        cursor: nw-resize;
      }
      &:nth-child(2) {
        top: -5px;
        left: 50%;
        margin-left: -5px;
        cursor: n-resize;
      }
      &:nth-child(3) {
        top: -5px;
        left: 100%;
        margin-left: -5px;
        cursor: ne-resize;
      }
      &:nth-child(4) {
        margin-top: -5px;
        top: 50%;
        left: -5px;
        cursor: w-resize;
      }
      &:nth-child(5) {
        margin-top: -5px;
        top: 50%;
        left: 100%;
        margin-left: -5px;
        cursor: w-resize;
      }
      &:nth-child(6) {
        top: 100%;
        margin-top: -5px;
        left: -5px;
        cursor: ne-resize;
      }
      &:nth-child(7) {
        top: 100%;
        margin-top: -5px;
        left: 50%;
        margin-left: -5px;
        cursor: n-resize;
      }
      &:nth-child(8) {
        top: 100%;
        margin-top: -5px;
        left: 100%;
        margin-left: -5px;
        cursor: nw-resize;
      }
    }
  }
}
input[type=range]::-moz-range-progress {
  background: linear-gradient(to right, #059CFA, white 100%, white);
  height: 13px;    
  border-radius: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  border-radius: 10px;
}

input[type=range]::-ms-track {
  height: 25px;
  border-radius: 10px;
  box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
  border-color: transparent; /*去除原有边框*/
  color: transparent; /*去除轨道内的竖线*/
}

input[type=range]::-ms-thumb {
  border: solid 0.125em rgba(205, 224, 230, 0.5);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -5px;
  box-shadow: 0 .125em .125em #3b4547;
}

input[type=range]::-ms-fill-lower {
  /*进度条已填充的部分*/
  height: 22px;
  border-radius: 10px;
  background: linear-gradient(to right, #059CFA, white 100%, white);
}

input[type=range]::-ms-fill-upper {
  /*进度条未填充的部分*/
  height: 22px;
  border-radius: 10px;
  background: #ffffff;
}

input[type=range]:focus::-ms-fill-lower {
  background: linear-gradient(to right, #059CFA, white 100%, white);
}

input[type=range]:focus::-webkit-fill-lower {
  background: linear-gradient(to right, #059CFA, white 100%, white);
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 3px; /*将轨道设为圆角的*/
  background: -webkit-linear-gradient(#059CFA, #059CFA) no-repeat;
  background-size: 100% 100%
}

input[type=range]:focus {
  outline: none;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 6px;
  margin-top: -2px; /*使滑块超出轨道部分的偏移量相等*/
  background: #ffffff; 
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
  box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}